div#container
{
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  width: 854px;
}

video#videoElement
{
  background-color: black;
  float: left;
}

canvas#timeline
{
  background-color: black;
  position: absolute;
  left: 0px;
  top: 450px;
}

canvas#keyframeBrowser
{
  background-color: none;
  position: absolute;
  left: 0px;
  top: 350px;
}

div#controls
{
  width: 100%;
  background-color: black;
}

div#controls button
{
  cursor:pointer;
  background:black;
  border:none;
  text-indent: -9999em;
  font-size: 0em;
  width: 30px;
  height: 30px;
}

div#controls button.play
{
  background:url("media/normal/play_normal.png") no-repeat center center;
}

div#controls button.pause
{
  background:url("media/normal/pause_normal.png") no-repeat center center;
}


button:focus
{
  outline:0;
}
